<h1>New post for "<%= @blog.name %>" </h1>

<%= simple_form_for(@post) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>

<%= link_to "All users", users_path %>